@media (min-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 768px;
    }
}

#scrollToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    z-index: 1000;
}
