<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/logo.svg">
    <meta name="color-scheme" content="light dark">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css">
    <title>
      {{ renderData.title or title or metadata.title}}
    </title>
    <script defer data-domain="taskfile.build" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header>
    </header>
    <main class="container">
      <nav>
        <ul>
          <li><strong><a class="contrast" href="/"><img width="50px" src="/img/logo.png" /> taskfile.build</a></strong></li>
        </ul>
        <ul>
          <li><a class="contrast" href="#specification">Specification</a></li>
          <li><a class="contrast" href="#usage">Usage</a></li>
          <li><a class="contrast" href="#naming">Naming</a></li>
          <li><a class="contrast" href="#patterns">Patterns</a></li>
          <li><a class="contrast" href="#example">Example</a></li>
          <li><a class="contrast" href="#library">Library</a></li>
        </ul>
      </nav>
      <article>
        {{ content | safe }}
      </article>
      <footer>
        <a href="https://github.com/janikvonrotz/taskfile.build/edit/main/{{ page.inputPath }}">Edit this page on GitHub</a>
      </footer>
    </main>
    <script src="/js/randomFunctionNames.js"></script>
    <button id="scrollToTop" class="secondary">↑ Top</button>
    <script>
        const scrollToTopBtn = document.getElementById("scrollToTop");

        window.addEventListener("scroll", () => {
            if (window.scrollY > 300) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        });

        scrollToTopBtn.addEventListener("click", () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>
  </body>
</html>
