<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.svg">
    <meta name="color-scheme" content="light dark">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
    <title>
      {{ renderData.title or title or metadata.title}}
    </title>
    <script defer data-domain="taskfile.build" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header>
    </header>
    <main class="container">
      <nav>
        <ul>
          <li><strong><a href="/">taskfile.build</a></strong></li>
        </ul>
        <ul>
          <li><a href="#specification">Specification</a></li>
          <li><a href="#usage">Usage</a></li>
          <li><a href="#examples">Examples</a></li>
        </ul>
      </nav>
      {{ content | safe }}
      <footer>
        <a href="https://github.com/janikvonrotz/taskfile.build/edit/main/{{ page.inputPath }}">Edit this page on GitHub</a>
      </footer>
    </main>
  </body>
</html>
